Source/MeadowSamples/.vs/
Source/MeadowSamples/packages/Meadow.0.6.245/.signature.p7s
Source/MeadowSamples/packages/
Source/MeadowSamples/Simon/bin/
Source/MeadowSamples/Simon/obj/
Source/MeadowSamples/HelloLed/bin/
Source/MeadowSamples/HelloLed/obj/
Source/MeadowSamples/ServoTest/bin/Debug/net472/App.exe
Source/MeadowSamples/ServoTest/bin/
Source/MeadowSamples/ServoTest/obj/
Source/MeadowSamples/CharacterDisplayTest/obj/Debug/net472/CharacterDisplayTest.AssemblyInfo.cs
Source/MeadowSamples/CharacterDisplayTest/obj/Debug/net472/App.exe
Source/MeadowSamples/CharacterDisplayTest/obj/
Source/MeadowSamples/CharacterDisplayTest/bin/
Source/MeadowSamples/LedBarGraphTest/bin/
Source/MeadowSamples/LedBarGraphTest/obj/
