Source/MeadowSamples/.vs/
Source/MeadowSamples/packages/Meadow.0.6.245/.signature.p7s
Source/MeadowSamples/packages/
Source/MeadowSamples/HelloLed/bin/
Source/MeadowSamples/HelloLed/obj/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.Android/obj/
Source/MeadowSamples/ChristmasCountdown/obj/
Source/MeadowSamples/ConnectedCar/CarHost/bin/
Source/MeadowSamples/ConnectedCar/CarHost/obj/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.iOS/bin/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.iOS/obj/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.UWP/bin/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.UWP/obj/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote/obj/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote/bin/
Source/MeadowSamples/ConnectedServo/ServoHost/bin/
Source/MeadowSamples/ConnectedServo/ServoHost/obj/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.Android/obj/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.iOS/bin/iPhoneSimulator/Debug/uk/Xamarin.Forms.Platform.iOS.resources.dll
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.iOS/obj/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.UWP/bin/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.UWP/obj/
Source/MeadowSamples/LedDice/bin/
Source/MeadowSamples/LedDice/obj/
Source/MeadowSamples/LedCar/obj/
Source/MeadowSamples/WeatherStation/obj/
Source/MeadowSamples/WeatherStation/bin/
Source/MeadowSamples/TunePlayer/obj/
Source/MeadowSamples/TunePlayer/bin/
Source/MeadowSamples/TemperatureMonitor/obj/
Source/MeadowSamples/TemperatureMonitor/bin/
Source/MeadowSamples/Simon/obj/
Source/MeadowSamples/Simon/bin/
Source/MeadowSamples/ShiftRegisterLeds/obj/
Source/MeadowSamples/ShiftRegisterLeds/bin/
Source/MeadowSamples/ServoButton/obj/
Source/MeadowSamples/ServoButton/bin/
Source/MeadowSamples/RotationDetector/obj/
Source/MeadowSamples/RotarySketch/obj/
Source/MeadowSamples/RotationDetector/bin/
Source/MeadowSamples/RotarySketch/bin/
Source/MeadowSamples/RobotArm/obj/
Source/MeadowSamples/RobotArm/bin/
Source/MeadowSamples/RemoteTank/obj/
Source/MeadowSamples/RemoteTank/bin/
Source/MeadowSamples/RadioPlayer/obj/
Source/MeadowSamples/RadioPlayer/bin/
Source/MeadowSamples/PlantMonitor/obj/
Source/MeadowSamples/PlantMonitor/bin/
Source/MeadowSamples/MemoryGame/obj/
Source/MeadowSamples/MemoryGame/bin/
Source/MeadowSamples/MeadowClockGraphics/obj/
Source/MeadowSamples/MeadowClockGraphics/bin/
Source/MeadowSamples/LedJoystick/obj/Debug/net472/LedJoystick.csproj.CopyComplete
Source/MeadowSamples/LedJoystick/obj/
Source/MeadowSamples/LedJoystick/bin/
Source/MeadowSamples/LedCar/bin/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote/obj/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote/bin/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.iOS/bin/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.Android/bin/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.Android/bin/
Source/MeadowSamples/ChristmasCountdown/bin/
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.Android/Resources/Resource.designer.cs
Source/MeadowSamples/EdgeASketch/bin/
Source/MeadowSamples/EdgeASketch/obj/
Source/MeadowSamples/LedClock/bin/
Source/MeadowSamples/LedClock/obj/
Source/MeadowSamples/MeadowClock/bin/
Source/MeadowSamples/MeadowClock/obj/
Source/MeadowSamples/McpLeds/bin/
Source/MeadowSamples/McpLeds/obj/
Source/MeadowSamples/GalleryViewer/obj/
Source/MeadowSamples/GalleryViewer/bin/
Source/MeadowSamples/MoistureMeter/bin/
Source/MeadowSamples/MoistureMeter/obj/
Source/MeadowSamples/TestI2CSPI/bin/
Source/MeadowSamples/TestI2CSPI/obj/
Source/MeadowSamples/Tests/Leds.Led_Sample/bin/
Source/MeadowSamples/Tests/Leds.Led_Sample/obj/
Source/MeadowSamples/Tests/Tests.I2cSpiAnalogTemperature_Sample/bin/
Source/MeadowSamples/Tests/Tests.I2cSpiAnalogTemperature_Sample/obj/
Source/MeadowSamples/Tests/Tests.Led_Sample/bin/
Source/MeadowSamples/Tests/Tests.Led_Sample/obj/
Source/MeadowSamples/Tests/Tests.PushButton_Sample/bin/
Source/MeadowSamples/Tests/Tests.PushButton_Sample/obj/
Source/MeadowSamples/Tests/Tests.PwmLed_Sample/bin/
Source/MeadowSamples/Tests/Tests.PwmLed_Sample/obj/
Source/MeadowSamples/RotaryLedBar/obj/
Source/MeadowSamples/RotaryLedBar/bin/
Source/MeadowSamples/ConnectedPlant/PlantHost/bin/
Source/MeadowSamples/ConnectedPlant/PlantHost/obj/
Source/MeadowSamples/RotaryServo/bin/
Source/MeadowSamples/RotaryServo/obj/
Source/MeadowSamples/PlantWing/bin/
Source/MeadowSamples/PlantWing/obj/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.Android/Resources/Resource.designer.cs
Source/MeadowSamples/WifiWeather/bin/
Source/MeadowSamples/WifiWeather/obj/
Source/MeadowSamples/ConnectedCar/CarRemote/CarRemote.Android/CarRemote.Android.csproj.user
Source/MeadowSamples/ConnectedServo/ServoRemote/ServoRemote.Android/ServoRemote.Android.csproj.user
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App.Android/obj/
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App/obj/
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App.iOS/obj/
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App/bin/
Source/MeadowSamples/Tests.I2cSpiAnalogTemperature_Sample/bin/
Source/MeadowSamples/Tests.I2cSpiAnalogTemperature_Sample/obj/
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App.Android/bin/
Source/MeadowSamples/ConnectedPlant/PlantWing.Server/bin/
Source/MeadowSamples/ConnectedPlant/PlantWing.Server/obj/
Source/MeadowSamples/ConnectedPlant/PlantWing.Server/.vs/
Source/MeadowSamples/ConnectedPlant/.vs/
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App/.vs/
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App.Android/Resources/Resource.designer.cs
Source/MeadowSamples/ConnectedPlant/PlantWing.App/PlantWing.App.Android/PlantWing.App.Android.csproj.user
Source/MeadowSamples/PlantCompanion/bin/
Source/MeadowSamples/PlantCompanion/obj/
