Source/MeadowSamples/.vs/
Source/MeadowSamples/packages/Meadow.0.6.245/.signature.p7s
Source/MeadowSamples/packages/
Source/MeadowSamples/Simon/bin/
Source/MeadowSamples/Simon/obj/
Source/MeadowSamples/HelloLed/bin/
Source/MeadowSamples/HelloLed/obj/
Source/MeadowSamples/ServoTest/bin/Debug/net472/App.exe
Source/MeadowSamples/ServoTest/bin/
Source/MeadowSamples/ServoTest/obj/
Source/MeadowSamples/CharacterDisplayTest/obj/Debug/net472/CharacterDisplayTest.AssemblyInfo.cs
Source/MeadowSamples/CharacterDisplayTest/obj/Debug/net472/App.exe
Source/MeadowSamples/CharacterDisplayTest/obj/
Source/MeadowSamples/CharacterDisplayTest/bin/
Source/MeadowSamples/LedBarGraphTest/bin/
Source/MeadowSamples/LedBarGraphTest/obj/
Source/MeadowSamples/DisplayGraphicsTest/bin/
Source/MeadowSamples/DisplayGraphicsTest/obj/
Source/MeadowSamples/SSD1306_Sample/bin/
Source/MeadowSamples/SSD1306_Sample/obj/
Source/MeadowSamples/Projects/Simon/bin/
Source/MeadowSamples/Projects/Simon/obj/
Source/MeadowSamples/Samples/Displays.Lcd.CharacterDisplay_Sample/bin/
Source/MeadowSamples/Samples/Displays.Lcd.CharacterDisplay_Sample/obj/
Source/MeadowSamples/Samples/Displays.SSD1306_Sample/bin/
Source/MeadowSamples/Samples/Displays.SSD1306_Sample/obj/
Source/MeadowSamples/Samples/Displays.Tft.ILI9163_Sample/bin/
Source/MeadowSamples/Samples/Displays.Tft.ILI9163_Sample/obj/
Source/MeadowSamples/Samples/Leds.LedBarGraph_Sample/bin/
Source/MeadowSamples/Samples/Leds.LedBarGraph_Sample/obj/
Source/MeadowSamples/Samples/Servos_Sample/bin/
Source/MeadowSamples/Samples/Servos_Sample/obj/
Source/MeadowSamples/Samples/Leds.Led_Sample/bin/
Source/MeadowSamples/Samples/Leds.Led_Sample/obj/
Source/MeadowSamples/Samples/Leds.PwmLed_Sample/bin/
Source/MeadowSamples/Samples/Leds.PwmLed_Sample/obj/
Source/MeadowSamples/Samples/Leds.RgbPwmLed_Sample/bin/
Source/MeadowSamples/Samples/Leds.RgbPwmLed_Sample/obj/
Source/MeadowSamples/Samples/Leds.RgbLed_Sample/bin/
Source/MeadowSamples/Samples/Leds.RgbLed_Sample/obj/
Source/MeadowSamples/Audio.Piezo_Sample/bin/
Source/MeadowSamples/Audio.Piezo_Sample/obj/
Source/MeadowSamples/Samples/RTCs.DS1307_Sample/bin/
Source/MeadowSamples/Samples/RTCs.DS1307_Sample/obj/
Source/MeadowSamples/Samples/Relays.Relay_Sample/obj/
Source/MeadowSamples/Samples/Relays.Relay_Sample/bin/
Source/MeadowSamples/Samples/ICs.IOExpanders.HT16K33_Sample/bin/
Source/MeadowSamples/Samples/ICs.IOExpanders.HT16K33_Sample/obj/
Source/MeadowSamples/Projects/MemoryGame/bin/
Source/MeadowSamples/Projects/MemoryGame/obj/
Source/MeadowSamples/Samples/ICs.IOExpanders.MCP23008_Sample/bin/
Source/MeadowSamples/Samples/ICs.IOExpanders.MCP23008_Sample/obj/
Source/MeadowSamples/Projects/RemoteCar/bin/
Source/MeadowSamples/Projects/RemoteCar/obj/
Source/MeadowSamples/Samples/Audio.Piezo_Sample/bin/
Source/MeadowSamples/Samples/Audio.Piezo_Sample/obj/
Source/MeadowSamples/Samples/Motors.HBridgeMotor/obj/
Source/MeadowSamples/Samples/Motors.HBridgeMotor_Sample/bin/
Source/MeadowSamples/Samples/Motors.HBridgeMotor_Sample/obj/
Source/MeadowSamples/Samples/Sensors.Moisture.Capacitive_Sample/obj/
Source/MeadowSamples/Samples/Sensors.Moisture.Capacitive_Sample/bin/
Source/MeadowSamples/Projects/RemoteTank/obj/
Source/MeadowSamples/Projects/RemoteTank/bin/
Source/MeadowSamples/Samples/Displays.PCD8544_Sample/bin/
Source/MeadowSamples/Samples/Displays.PCD8544_Sample/obj/
Source/MeadowSamples/Samples/RobotArm/bin/
Source/MeadowSamples/Samples/RobotArm/obj/
Source/MeadowSamples/Projects/TunePlayer/bin/
Source/MeadowSamples/Projects/TunePlayer/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Audio.Piezo_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Audio.Piezo_Sample/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.Led_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.Led_Sample/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.LedBarGraph_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.LedBarGraph_Sample/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.PwmLed_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.PwmLed_Sample/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.RgbLed_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.RgbLed_Sample/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.RgbPwmLed_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Leds.RgbPwmLed_Sample/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Motors.HBridgeMotor_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Motors.HBridgeMotor_Sample/obj/
Source/MeadowSamples/Meadow.Foundation_Samples/Relays.Relay_Sample/bin/
Source/MeadowSamples/Meadow.Foundation_Samples/Relays.Relay_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/Displays.Lcd.CharacterDisplay_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/Displays.Lcd.CharacterDisplay_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/Displays.PCD8544_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/Displays.PCD8544_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/Displays.SSD1306_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/Displays.SSD1306_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/Displays.Tft.ILI9163_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/Displays.Tft.ILI9163_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/ICs.IOExpanders.HT16K33_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/ICs.IOExpanders.HT16K33_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/RTCs.DS1307_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/RTCs.DS1307_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/Sensors.Moisture.Capacitive_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/Sensors.Moisture.Capacitive_Sample/obj/
Source/MeadowSamples/Peripherals_Samples/Servos.Servo_Sample/bin/
Source/MeadowSamples/Peripherals_Samples/Servos.Servo_Sample/obj/
Source/MeadowSamples/Projects/RobotArm/bin/
Source/MeadowSamples/Projects/RobotArm/obj/
Source/MeadowSamples/Projects/PlantMonitor/bin/
Source/MeadowSamples/Projects/PlantMonitor/obj/
Source/MeadowSamples/Projects/GlowingBall/bin/
Source/MeadowSamples/Projects/GlowingBall/obj/
Source/MeadowSamples/RadioPlayer/bin/
Source/MeadowSamples/RadioPlayer/obj/
Source/MeadowSamples/Projects/RadioPlayer/bin/
Source/MeadowSamples/Projects/RadioPlayer/obj/
Source/MeadowSamples/Projects/ChristmasCounter/bin/
Source/MeadowSamples/Projects/ChristmasCounter/obj/
Source/MeadowSamples/Projects/ChristmasCountdown/obj/
Source/MeadowSamples/Projects/ChristmasCountdown/bin/
Source/MeadowSamples/Projects/RotationDetector/bin/
Source/MeadowSamples/Projects/RotationDetector/obj/
